body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

/* LOGIN & REGISTER */
.auth-container {
    width: 300px;
    margin: 90px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px #ccc;
}

.auth-container input, .page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.auth-container button, .page button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* DASHBOARD */
.topbar {
    background: black;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu-btn {
    font-size: 26px;
    margin-right: 20px;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    background: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    padding-top: 60px;
    transition: 0.3s;
    box-shadow: 0 0 10px #ccc;
}

.sidebar a {
    display: block;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.page {
    padding: 20px;
    margin-left: 20px;
}

h3 {
    margin-top: 0;
    }
